// Body
$body-bg: #121422;

// Typography
$font-family-sans-serif: 'Airbnb Cereal App', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Colors
$blue: #4381ff;
$indigo: #4F4581;
$purple: #6936e3;
$pink: #f29fbd;
$red: #f9426c;
$orange: #e69a5a;
$yellow: #F9F871;
$green: #205444;
$teal: #00DBD7;
$cyan: #6cb2eb;
